{
  "image_configuration": {
    "dither_algorithm": "2",
    "layout_rotation": "0",
    "opaque_image_format": "L8_RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "alpha_dither": "yes",
    "images": {
      "accelerometer.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "background.png": {
        "format": "RGB565"
      },
      "buzzer.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "clock.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "d01.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d02.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d03.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d04.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d09.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d10.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d11.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d13.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "d50.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "flash.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "gallery2.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "lightning.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "lightsensors.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "music.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "n01.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "n02.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "n10.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "note.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "power.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "rf.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "rgbled.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "temp.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "weather.png": {
        "format": "RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Backgrounds_Main_bg_320x240px.png": {
        "format": "L8_RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Buttons_Round_Edge_icon_button.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Buttons_Round_Edge_icon_button_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Buttons_Round_Edge_small.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Buttons_Round_Edge_small_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Check_buttons_Check_RE_mark_active.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Check_buttons_Check_RE_mark_inactive.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Check_buttons_Check_RE_mark_normal.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Check_buttons_Check_RE_mark_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Clocks_Backgrounds_clock_standard_background.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Blue_Clocks_Hands_clock_standard_hour_hand.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Clocks_Hands_clock_standard_minute_hand.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Clocks_Hands_clock_standard_second_hand.png": {
        "section": "ExtFlashSection",
        "extra_section": "IntFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Icons_Add_new_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Alert_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Back_arrow_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Done_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Go_back_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Go_next_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Info_48.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Next_arrow_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Pause_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Play_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Refresh_48.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Remove_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Stop_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Tools_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Icons_Up_arrow_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_ProgressIndicators_bg_large_circle_indicator_bg_full.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Blue_ProgressIndicators_bg_large_circle_indicator_bg_line_half.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Blue_ProgressIndicators_bg_large_progress_indicator_bg_square_0_degrees.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_ProgressIndicators_bg_medium_circle_indicator_bg_line_full.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_ProgressIndicators_bg_medium_text_progress_bg_round.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_ProgressIndicators_fill_large_circle_indicator_fill_line_half.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Blue_ProgressIndicators_fill_tiling_progress_indicator_fill_striped_wide_horizontal.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_RE_button_active.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_RE_button_inactive.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_RE_button_normal.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_RE_button_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_Round_button_active.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_Round_button_inactive.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_Round_button_normal.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Radio_buttons_Radio_Round_button_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Slider_Horizontal_Large_Slider_Round_back.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Slider_Horizontal_Large_Slider_Round_fill.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Slider_Horizontal_Medium_Indicators_Slider_Round_nob.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Slider_Horizontal_Medium_Slider_Round_back.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Slider_Horizontal_Medium_Slider_Round_fill.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Slider_Horizontal_Small_Indicators_slider_horizontal_small_round_knob.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Blue_Slider_Horizontal_Small_slider_horizontal_small_round_back.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Slider_Horizontal_Small_slider_horizontal_small_round_fill.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Togglebars_Toggle_round_large_button_OFF.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Togglebars_Toggle_round_large_button_ON.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Dark_Backgrounds_Main_bg_texture_800x480px.png": {
        "format": "L8_RGB565",
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Buttons_Round_Edge_icon_button.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Buttons_Round_Edge_icon_button_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Buttons_Round_icon_button.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Buttons_Round_icon_button_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Icons_Play_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Icons_Stop_32.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_ProgressIndicators_fill_medium_circle_indicator_fill_line_full.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "format": "RGB565"
      },
      "__designer\\Dark_Radio_buttons_Radio_Round_button_active.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Radio_buttons_Radio_Round_button_inactive.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Radio_buttons_Radio_Round_button_normal.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Radio_buttons_Radio_Round_button_pressed.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Slider_Horizontal_Medium_Indicators_Slider_Round_nob.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Slider_Horizontal_Small_Indicators_slider_horizontal_small_round_edge_knob.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection"
      },
      "__designer\\Dark_Slider_Horizontal_Small_slider_horizontal_small_round_back.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Dark_Slider_Vertical_Small_Slider3_Vertical_Round_fill.png": {
        "format": "RGB565",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "__designer\\Dark_Topbar_topbar_bg_800x480px.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection",
        "format": "L8_ARGB8888"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16"
  }
}